.offers-bar {
  text-align: center;
  margin: 20px auto;
}

.offers-bar h1 {
  color: #262626;
  font-weight: 500;
}

.offers-list {
  display: flex;
  flex-wrap: wrap; /* allows wrapping if too many offers */
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.offer-card {
  background-color: #b03060;
  color: white;
  padding: 20px;
  border-radius: 12px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-bottom: 50px;
}

.offer-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 750px) {
  .offers-bar h1 {
    font-size: 30px;
  }

  .offer-card {
    width: 100px;
    height: 80px;
    font-size: 10px;
    padding: 5px;
  }
}
