.order-item {
  display: flex;
  gap: 30px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 12px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease, transform 0.3s ease;
}

.order-item:hover {
  background-color: #ffe8e4;
  transform: scale(1.02);
  cursor: pointer;
}

.order-item-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.order-item-left {
  flex: 2; /* larger column for items */
}

.order-item-right {
  flex: 1; /* smaller column for customer info */
  background-color: #fff;
  border: 1px solid #b03060;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

.order-item-food {
  margin-bottom: 10px;
}

.order-item-addons {
  margin-left: 15px;
  list-style: disc;
  padding-left: 0;
  font-size: 0.9rem;
  color: #555;
}

.order-item-addons li {
  margin-bottom: 2px;
}

.order-item select {
  background-color: #ffffff;
  border: 1px solid #b03060;
  border-radius: 10px;
  width: mx(10vw, 120px);
  padding: 10px;
  outline: none;
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .order-item {
    font-size: 12px;
    grid-template-columns: 0.5fr 2fr 1fr;
    padding: 15px 8px;
  }

  .order-item select {
    padding: 5px;
    font-size: 12px;
  }

  .order-item img {
    width: 40px;
  }
}
