.header {
  height: 34vw;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: -70px;
  margin-left: auto;
  background: url("../../assets/pizzaHeader.jpg") no-repeat;
  background-size: contain;
  position: relative;
}

/* Overlay */
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 78.5%;
  background-color: #b03060;
  opacity: 0.3; /* adjust opacity as you like (0 = transparent, 1 = solid) */
  z-index: 1;
}

/* If you have text inside the header */
.header * {
  position: relative;
  z-index: 2; /* ensures text sits above the overlay */
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 40%;
  bottom: 25%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-contents h3 {
  font-weight: 300;
  color: white;
  font-size: max(3.5vw, 15px);
}

.header-contents p {
  color: white;
  font-size: 1vw;
}

.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}

@media (max-width: 1050px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header {
    margin-bottom: -50px;
  }

  .header::before {
    height: 77%;
  }

  .header-contents {
    max-width: 65%;
    bottom: 40%;
  }

  .header-contents p {
    display: none;
  }

  .header-contents button {
    padding: 2vw 4vw;
  }
}
