.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explore-menu h1 {
  color: #262626;
  font-weight: 500;
  text-align: center;
}

.explore-menu-text {
  max-width: 100%;
  color: #808080;
  text-align: center;
}

.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
}

.explore-menu-list-item .active {
  border: 4px solid #b03060;
  padding: 2px;
  border-radius: 70px;
}
.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.explore-menu-list-item {
  position: relative; /* allow positioning child absolutely */
  width: 180px;
  height: 180px;
  padding-top: 10px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.explore-menu-list-item img {
  object-fit: cover;
  transition: transform 0.3s ease;
}

.explore-menu-list-item:hover img {
  transform: scale(1.05);
}

.category-name {
  position: absolute; /* position on top of the image */
  bottom: 80px; /* adjust vertical position */
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  padding: 4px 10px;
  border-radius: 8px;
}

@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
  }
}
